/* ICKNavbar */
a.navbar-item.is-active {
    border-bottom: 2px solid $primary;
}

// ICKImage
.ickcropimage img {
    height: 100%;
    object-fit: cover;
}

// Helpers
.spaceout>*:not(:last-child) {
    margin-right: 1.25rem;

    @include touch {
        margin-right: 0.5rem;
    }
}

.spaceout>* {
    margin-bottom: 1.25rem;

    @include touch {
        margin-right: 0.5rem;
    }
}

.spaceout {
    padding-bottom: 0;
}